<div class="max-w-4xl py-8">
  <h1 class="text-2xl font-bold text-blue-800 mb-6">Gestión de Usuarios</h1>
  <user-form
    (add)="onUserSaved($event)"
    [user]="pageService.editingUser()"
    [institutions]="pageService.institutions()"
  ></user-form>
  <div class="mt-10">
    <user-table
      [institutions]="pageService.institutions()"
      [users]="pageService.users()"
      [page]="pageService.page()"
      [totalPages]="pageService.totalPages()"
      (pageChange)="onPageChange($event)"
      (edit)="onEditRequest($event)"
      (del)="onDeleteRequest($event)"
    ></user-table>
  </div>
</div>
