<nav class="app-navbar">
  <div class="app-navbar-container">
    <span class="text-lg font-bold text-blue-700">{{ title() }}</span>
    <ul class="flex items-center gap-6">
      <li><a href="#hero" class="app-navbar-link">Inicio</a></li>
      <li>
        <a href="#features" class="app-navbar-link">Características</a>
      </li>
      <li>
        <a href="#detalles" class="app-navbar-link">Detalles</a>
      </li>
      <li>
        <a href="#contacto" class="app-navbar-link">Contacto</a>
      </li>
    </ul>
  </div>
</nav>
<div class="pt-20"></div>
