<div class="app-card app-card-spacious max-w-3xl mx-auto mt-16">
  <h3 class="app-section-title text-3xl md:text-4xl">
    Solicita una demo o más información
  </h3>

  @if (!sent()) {
  <form class="app-form" (submit)="onSubmit()" [formGroup]="form">
    <div class="space-y-2">
      <label class="app-label text-base" for="nombre">Nombre</label>
      <input
        id="nombre"
        name="nombre"
        type="text"
        required
        formControlName="nombre"
        class="app-input"
      />
    </div>
    <div class="space-y-2">
      <label class="app-label text-base" for="institucion">Institución</label>
      <input
        id="institucion"
        name="institucion"
        type="text"
        required
        formControlName="institucion"
        class="app-input"
      />
    </div>
    <div class="space-y-2">
      <label class="app-label text-base" for="email">Correo electrónico</label>
      <input
        id="email"
        name="email"
        type="email"
        required
        formControlName="email"
        class="app-input"
      />
    </div>
    <div class="space-y-2">
      <label class="app-label text-base" for="mensaje">Mensaje</label>
      <textarea
        id="mensaje"
        name="mensaje"
        rows="4"
        formControlName="mensaje"
        class="app-input"
      ></textarea>
    </div>
    <button
      type="submit"
      [disabled]="loading()"
      class="btn-primary w-full text-lg"
    >
      @if (!loading()){ <span>Enviar consulta</span>} @else {
      <span class="flex items-center">
        <svg
          class="animate-spin h-5 w-5 mr-2 text-white"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8v8z"
          ></path>
        </svg>
        Enviando... </span
      >}
    </button>
  </form>
  } @else {
  <div class="text-center py-12">
    <div class="text-2xl font-bold text-blue-700 mb-4">
      ¡Gracias por tu consulta!
    </div>
    <div class="app-section-subtitle text-center text-lg">
      Nos pondremos en contacto contigo pronto.
    </div>
  </div>
  }
  <div class="app-section-subtitle mt-8 text-center text-sm">
    O escríbenos a
    <span class="font-semibold text-blue-700">{{ companyEmail() }}</span>
  </div>
</div>
